@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
body{background:url("../img/planet/mars.png")left no-repeat fixed;color:white;background-color:black;}
header{margin:0; padding:0; box-sizing:border-box;text-align:center; font-family:Raleway;}

h1 {font-family:'Raleway',sans-serif; box-sizing:border-box;}

section{
}
.box{background-color:rgba(0,0,0,0.4);width:90%; height:auto; margin:auto; padding:10px;}
.sub{text-align:center;font-size:1.5em;font-family:'Open Sans', sans-serif;border:dotted white;}
p{text-align:justify;font-family: 'Open Sans', sans-serif;font-size:14px}


nav{display:flex;justify-content:space-between; padding-right:10px; }
nav a{text-decoration:none;color:white;text-shadow:1px 1px black;}

@media only screen and (min-width:768px) {
    
*{
 padding:0;
 margin:0;
 box-sizing:border-box;
}
html,body{height:100%;}
body{background-position:center;background-color:black;}
 header{height:20%;border:solid red;}
 section{height:60%;display:flex;flex-direction:row;border:solid green;background-color:rgba(0,0,0,0.6);}   
  .box{width:28%;height:90%;background-color:rgba(0,0,0,0);border:solid yellow;
display:flex;flex-wrap:wrap;align-items:center;justify-content:center;}
  .sub{font-size:16px;height:10%;width:50%;}
  footer{height:20%;border:solid red;display:flex;align-items:center;justify-content:flex-end;}
    nav{border:dotted white;width:50%;}
    nav a{width:7%;}
    
}